<%= bootstrap_form_for(@reserva, local: true) do |form| %>
  <% if reserva.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reserva.errors.count, "error no permitió", "errores no permitieron") %> no guardar esta reserva:</h2>

      <ul>
      <% reserva.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.datetime_select :start_time, id: :reserva_start_time, label: "Empieza" %>
  </div>

  <div class="field">
    <%= form.datetime_select :end_time, id: :reserva_end_time, label: "Termina" %>
  </div>

  <div class="field" id="finalidad">
    <%= form.select :finalidad, FINALIDADES, label: "Finalidad" %>
  </div>

  <% if current_user.admin? %>
    <div class="field" id="bloquear">
      <h4>Bloquear reservas</h4>
      <%= form.check_box :bloqueo, label: "Bloquear" %>
        <div class="">
          <i>Para no permitir que los usuarios hagan reservas durante este horario.</i>
        </div>
    </div>
  <% end %>


  <div class="field" id="invitados">
    <h4>Invitados</h4>
    <% unless @reserva.persisted?  %>
      <% if !@grupos.nil? && !@grupos.empty? %>
        <%= hidden_field_tag :invitados_grupo_reserva_id, '0' %>
        <div class="grupos">
          <a class='btn invitados_anteriores'>Repetir invitados anteriores</a>
          <div id="grupos-list">
            <% !@grupos.nil? && @grupos.each do |grupo| %>
            <a class='nombre_grupo' data-reservaId=<%= grupo[:reserva_id] %> data-nombres=<%= grupo[:nombres] %>>
              <%= grupo[:nombres] %>
            </a>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    <!-- Si es admin, no necesita dar los datos de los invitados -->
    <% if current_user.admin? %>
    <div class="field">
      <div class="form-group">
        <label for="invitados_anon">Invitados anónimos</label>
        <%= number_field_tag :invitados_anon, 0, min: 0, max: MAX_OCUPACIONES, class: 'form-control'%>
      </div>
    </div>
    <% else %>
      <%= form.fields_for :invitados do |invitado_form| %>
        <%= render 'invitado_fields', f: invitado_form %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Agregar invitado', form, :invitados, class: 'btn btn-info' %>
      </div>

    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
