<div class='nested-fields'>
  <%= f.text_field :nombre %>
  <%= f.text_field :apellido %>
  <%= f.text_field :dni, label: "DNI"%>
  <%= f.text_field :email %>
  <%= link_to_remove_association "Eliminar invitado", f %>
</div>
