<div class="reserva_del_dia">
  <% if reserva.user == current_user %>
    <%= link_to edit_reserva_path(reserva) do %>
      <% if reserva.finalidad == 'Evento/capacitaci贸n/reuni贸n' %>
          <strong>
            <%= "#{reserva.nombre}" %>
          </strong>
          <% if reserva.invitados.any? %>
            - <%= reserva.invitados.count %> inv.
          <% end %>
        <% else %>
          <strong>
            <%= "#{reserva.user.nombre} #{reserva.user.apellido}" %>
          </strong>
          <% if reserva.invitados.any? %>
            + <%= reserva.invitados.count %> inv.
          <% end %>
        <% end %>
      (<%= reserva.hora_comienzo %> hs -
      <%= reserva.hora_fin %> hs)
    <% end %>
  <% else %>
    <% if reserva.finalidad == 'Evento/capacitaci贸n/reuni贸n' %>
      <strong>
        <%= "#{reserva.nombre}" %>
      </strong>
      <% if reserva.invitados.any? %>
        - <%= reserva.invitados.count %> inv.
      <% end %>
    <% else %>
      <strong>
      <%= "#{reserva.user.nombre} #{reserva.user.apellido}" %>
      </strong>
      <% if reserva.invitados.any? %>
        + <%= reserva.invitados.count %> inv.
      <% end %>
    <% end %>
    (<%= reserva.hora_comienzo %> hs -
    <%= reserva.hora_fin %> hs)
  <% end %>
</div>
