<div class="reserva_del_dia">
  <span class="reserva_hora">
    <%= link_to edit_reserva_path(reserva) do %>
      <%= reserva.fecha %> -
      <%= reserva.hora_comienzo %> hs a
      <%= reserva.hora_fin %> hs
    <% end %>
    </span>
    <%= reserva.finalidad %>
    <!-- <%= reserva.user.nombre %>
    <%= reserva.user.apellido %> -->
    (<%= pluralize(reserva.ocupaciones, 'lugar')%>)
    <!-- <% if reserva.invitados.count > 0 %>
    <% end %> -->
</div>
