<h1>
<%= @reserva.start_time.strftime('%e/%m') %>
</h1>
<div class="reservas_del_dia">
  <h4>Reservas del día</h4>
  <% if @reservas.present? %>
    <%= render @reservas %>
  <% else %>
    <%= "No hay reservas" %>
  <% end %>
</div>

<div class="nueva_reserva">
  <h1>Nueva Reserva</h1>
  <%= render 'form', reserva: @reserva %>
  <%= link_to 'Volver', reservas_path %>
</div>
