<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @reserva.user.nombre %>
  <%= @reserva.user.apellido %>
  <i> de </i>
  <%= @reserva.user.institucion %>
</p>

<p>
  <strong>Comienza:</strong>
  <%= @reserva.start_time %>
</p>
<p>
  <strong>Termina:</strong>
  <%= @reserva.end_time %>
</p>

<% if @reserva.invitados.any? and @reserva.invitados.first.nombre != '' %>
  <p>
    <strong>Invitados: (<%= @reserva.invitados.count %>) </strong>
    <% @reserva.invitados.each do |invitado| %>
      <%= invitado.nombre %> <%= invitado.apellido %>, <%= invitado.email %>. DNI: <%= invitado.dni %> <br />
    <% end %>
  </p>
<% end %>

<% if puede_editar?(@reserva) %>
  <%= link_to('Editar', edit_reserva_path(@reserva)) %> |
  <%= link_to('Borrar', reserva_path(@reserva), method: :delete) %> |
<% end %>
<%= link_to 'Volver', reservas_path %>
