<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Usuario:</strong>
  <%= @reserva.user.nombre %>
  <%= @reserva.user.apellido %>
  <i> de </i>
  <%= @reserva.user.institucion %>
</p>

<p>
  <strong>Comienza:</strong>
  <%= @reserva.start_time.strftime('%e %b %H:%M hs') %>
</p>
<p>
  <strong>Termina:</strong>
  <%= @reserva.end_time.strftime('%e %b %H:%M hs') %>
</p>

<p>
  <strong>Finalidad:</strong>
  <%= @reserva.finalidad %>
</p>

<% if current_user.present? && current_user.admin? %>
<p>
  <strong>Bloquea:</strong>
  <%= @reserva.bloqueo ? "Sí" : "No" %>
<% end %>
</p>

<% if @reserva.invitados.any? and @reserva.invitados.first.nombre != '' %>
  <p>
    <strong>Invitados (<%= @reserva.invitados.count %>): </strong>
    <% @reserva.invitados.each do |invitado| %>
      <% if !invitado.anonimo %>
        <%= invitado.nombre %> <%= invitado.apellido %>, <%= invitado.email %>. DNI: <%= invitado.dni %> <br />
      <% end %>
    <% end %>
  </p>
<% end %>

<% if puede_editar?(@reserva) %>
  <%= link_to('Editar', edit_reserva_path(@reserva)) %> |
  <%= link_to('Borrar', reserva_path(@reserva), method: :delete, data: { confirm: '¿Estás seguro de borrar la reserva?' } ) %> |
<% end %>
<%= link_to 'Volver', new_reserva_path(date: @reserva.start_time) %>
