<%= month_calendar(attribute: :start_time, end_attribute: :end_time, events: @reservas) do |date, reservas| %>

  <% if current_user %>
    <%= link_to(date, new_reserva_url(date: date))%>
  <% else %>
    <%= date %>
  <% end %>

  <% reservas.each do |reserva| %>
  <div>
    <% if reserva.user == current_user || !current_user.nil? and current_user.admin? %>
      <%= link_to "#{reserva.user.nombre} #{reserva.user.apellido}", reserva %>
    <% else %>
      <%= "#{reserva.user.nombre} #{reserva.user.apellido}" %>
      <% if reserva.invitados.any? %>
        + <%= reserva.invitados.count %> invitados
      <% end %>
    <% end %>
  </div>
<% end %>
<% end %>
