<%= month_calendar(attribute: :start_time, end_attribute: :end_time, events: @reservas) do |date, reservas| %>

  <% if current_user  %>
    <%= link_to(date.strftime('%e %b'), new_reserva_url(date: date))%>
  <% else %>
    <%= date.strftime('%e %b') %>
  <% end %>

  <% reservas.each do |reserva| %>
  <div class="datos-reserva">
    <!-- Si puede editar las reservas -->
    <% if reserva.user == current_user || !current_user.nil? && current_user.admin? %>
      <%= link_to reserva do %>
        <%= "#{reserva.user.nombre} #{reserva.user.apellido}" %>
        <% if reserva.invitados.any? %>
          + <%= reserva.invitados.count %> invitados
        <% end %>
        <% if reserva.bloqueo? %>
          <span class="bloquea">[Todo el Club]</span>
        <% end %>
        <span class="reserva_hora">
          <%= "(de #{reserva.hora_comienzo} a #{reserva.hora_fin})" %>
        </span>
      <% end %>

    <!-- Si no puede editar las reservas -->
    <% else %>
      <%= "#{reserva.user.nombre} #{reserva.user.apellido}" %>
      <% if reserva.invitados.any? %>
        + <%= reserva.invitados.count %> invitados
      <% end %>
      <span class="reserva_hora">
        <%= "(de #{reserva.hora_comienzo} a #{reserva.hora_fin})" %>
      </span>
    <% end %> <!--Se puede editar las reservas -->
  </div>
  <% end %>

  <!-- Lugares disponibles -->
  <div class="lugares_disponibles">
    <%= link_to '¡Reservá tu lugar!', new_reserva_url(date: date) %>
  </div>

<% end %>
