<%= month_calendar(attribute: :start_time, end_attribute: :end_time, events: @reservas) do |date, reservas| %>

  <% if current_user && date >= DateTime.yesterday + 1 %>
    <%= link_to(date.strftime('%e %b'), new_reserva_url(date: date))%>
  <% else %>
    <%= date.strftime('%e %b') %>
  <% end %>

  <% reservas.each do |reserva| %>

  <!-- Si la reserva no esta aprobada y no es admin o el dueno, no mostrar -->
  <%
  if !reserva.aprobado
    if current_user.nil? || (!current_user.admin? && current_user != reserva.user)
      next
    end
  end
  %>

  <div class="datos-reserva">
    <!-- Si puede editar las reservas -->
    <%# if reserva.user == current_user || !current_user.nil? && current_user.admin? %>
    <% if user_signed_in? %>
      <%= link_to reserva, class: 'reserva' do %>
        <% if reserva.finalidad == 'Eventos/capacitaciones' %>
          <%= "#{reserva.nombre}" %>
          <% if reserva.invitados.any? %>
            + <%= reserva.invitados.count %> invitados
          <% end %>
        <% else %>
          <%= "#{reserva.user.nombre} #{reserva.user.apellido}" %>
          <% if reserva.invitados.any? %>
            + <%= reserva.invitados.count %> invitados
          <% end %>
        <% end %>
        <% if reserva.bloqueo? %>
          <span class="bloquea">[Todo el Club]</span>
        <% end %>
        <span class="reserva_hora">
          <%= "(de #{reserva.hora_comienzo} a #{reserva.hora_fin})" %>
        </span>
        <% if !reserva.aprobado %>
          <span class="esperando_aprobacion">Esperando aprobación</span>
        <% end %>
      <% end %>

    <!-- Si no puede editar las reservas -->
    <% else %>
      <%= "#{reserva.user.nombre} #{reserva.user.apellido}" %>
      <% if reserva.invitados.any? %>
        + <%= reserva.invitados.count %> invitados
      <% end %>
      <span class="reserva_hora">
        <%= "(de #{reserva.hora_comienzo} a #{reserva.hora_fin})" %>
      </span>
    <% end %> <!--Se puede editar las reservas -->
  </div>
  <% end %>

  <!-- Lugares disponibles -->
  <% if date >= DateTime.yesterday + 1 %>
    <div class="lugares_disponibles">
      <%= link_to '¡Reservá tu lugar!', new_reserva_url(date: date) %>
    </div>
  <% end %>

<% end %>
