%footer#footer
  %div
    %p IMPULSAN:
    = link_to image_tag("/image/logo-idea.png"), 'http://idea.adeneu.com.ar/'
    = link_to image_tag("/image/logo-cpyme-adeneu.png"), 'http://idea.adeneu.com.ar/'
    = link_to image_tag("/image/logo-neuquen.png"), 'http://w2.neuquen.gov.ar/'
  %div
    %p ACOMPAÑAN:
    = link_to image_tag("/image/logo-eeav.png"), 'https://eealtovalle.org/home'
  %div
    %p DESARROLLA:
    = link_to image_tag("/image/logo-macher.png"), 'http://macherit.com'
