%footer#footer
  = link_to image_tag("/image/idea.png"), 'http://idea.cpymeadeneu.com.ar/'
  = link_to image_tag("/image/logo_cpymeadeneu.png"), 'http://cpymeadeneu.com.ar'
  = link_to image_tag("/image/neuquen-provincia-blanco.png"), 'http://w2.neuquen.gov.ar/'
  = link_to image_tag("/image/eeav-blanco.png"), 'https://eealtovalle.org/home'
  = link_to image_tag("/image/desarrollado-por-macher.png"), 'http://macherit.com'
