%footer#footer
  %div
    %p IMPULSAN:
    = link_to image_pack_tag("images/logo-idea.png"), 'http://idea.cpymeadeneu.com.ar/'
    = link_to image_pack_tag("images/logo-cpyme-adeneu.png"), 'http://cpymeadeneu.com.ar'
    = link_to image_pack_tag("images/logo-neuquen.png"), 'http://w2.neuquen.gov.ar/'
  %div
    %p ACOMPAÑAN:
    = link_to image_pack_tag("images/logo-eeav.png"), 'https://eealtovalle.org/home'
  %div
    %p DESARROLLA:
    = link_to image_pack_tag("images/logo-macher.png"), 'http://macherit.com'
