= navbar container: 'fluid' do

  = navbar_header
  = navbar_group do
    = navbar_item '/' do
      = image_tag '/image/logo-club.png', height: 100, class: 'logo'

  = navbar_collapse do
    = navbar_group id: 'menu' do

      = navbar_item "Inicio", '/'

      - if signed_in?
        - if current_user.admin?
          = navbar_item "Reservas", '/reservas'
        - else
          = navbar_item "Mis reservas", '/reservas'

      - if signed_in? && current_user.admin?
        = navbar_dropdown "Admin" do
          = navbar_dropdown_header "Administrador"
          = navbar_item "Exportar reservas a XLS", reservas_path(format: 'xls')
          = navbar_item "Exportar reservas a calendario", reservas_to_calendar_path(format: 'csv')
          = navbar_item "Esperando aprobación", "/reservas/esperando_aprobacion"
          = navbar_item "Grupos", "/grupos"
          = navbar_item "Documentación", docs_path

      = navbar_item "Adeneu", 'http://idea.adeneu.com.ar/'

    = navbar_group align: 'right' do
      - if signed_in?
        = navbar_dropdown current_user.admin? ? "#{current_user.nombre} (admin)" : "#{current_user.nombre} " do
          = navbar_item "Editar perfil", edit_user_registration_url(current_user)
          = navbar_dropdown_divider
          = navbar_item "Salir", destroy_user_session_url, {}, { 'data-method': :delete }

      - else
        = navbar_item "Ingresar", new_user_session_path
