<% if user_signed_in? %>
<!-- <div>
  <%= "Bienvenida/o, #{current_user.nombre}" %>
  <% if current_user.admin? %>
    <%= " al sitio administrador." %>
  <% end %>
</div> -->
<!-- <div>
  <%= link_to 'Salir', destroy_user_session_url, method: :delete %>
</div> -->

<% else %>
  <div>
  <%= 'No estás logueado.' %>
</div>
<div>
  <%= link_to 'Ingresá', new_user_session_url %>
  <%= link_to 'Registrate', new_user_registration_url %>
</div>
<% end %>
