<p id="notice"><%= notice %></p>

<h1>Grupos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Horas de apertura</th>
      <th>Horas de cierre</th>
      <th>Usuarios</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>Default</td>
        <td>
          <% t('date.day_names').each_with_index do |dia, i| %>
            <% next if i == 0 %>
            <%= "#{dia.capitalize}:  #{HORAS_APERTURA[i]} hs" %> </br>
          <% end%>
        </td>
        <td>
          <% t('date.day_names').each_with_index do |dia, i| %>
            <% next if i == 0 %>
            <%= "#{dia.capitalize}:  #{HORAS_CIERRE[i]} hs" %> </br>
          <% end%>
        </td>
        <td>
          Todos los usuarios que no están en otro grupo.
        </td>
      </tr>
    <% !@grupos.nil? &&  @grupos.each do |grupo| %>
      <tr>
        <td><%= grupo.nombre %></td>
        <td>
          <% t('date.day_names').each_with_index do |dia, i| %>
            <% next if i == 0 %>
            <%= "#{dia.capitalize}:  #{grupo.start_times[i]} hs" %> </br>
          <% end%>
        </td>
        <td>
          <% t('date.day_names').each_with_index do |dia, i| %>
            <% next if i == 0 %>
            <%= "#{dia.capitalize}:  #{grupo.end_times[i]} hs" %> </br>
          <% end%>
        </td>
        <td>
          <% grupo.users.each do |user| %>
            <%= user.nombre_completo %> </br>
          <% end%>
        </td>
        <td><%# link_to 'Show', grupo %></td>
        <td><%# link_to 'Edit', edit_grupo_path(grupo) %></td>
        <td><%# link_to 'Destroy', grupo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'New Grupo', new_grupo_path %>
