<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @grupo.nombre %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @grupo.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @grupo.end_time %>
</p>

<%= link_to 'Edit', edit_grupo_path(@grupo) %> |
<%= link_to 'Back', grupos_path %>
