<!DOCTYPE html>
<html>

<head>
  <title>Club Emprendedores</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= csrf_meta_tags %>

  <%= favicon_link_tag '/image/favicon.png'%>
  <%= favicon_link_tag '/image/favicon.png' , rel: 'apple-touch-icon', type: 'image/png'%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div id="body-wrapper">

    <%= render 'shared/menu' %>

    <div id="main-body">
      <!-- <div class="encabezado"> -->
      <%= render 'shared/user_status' %>

      <!-- Notificaciones de Devise -->
      <% if !notice.nil? %>
      <p class="alert alert-success">
        <%= notice %>
      </p>
      <% end %>
      <% if !alert.nil? %>
      <p class="alert alert-danger">
        <%= alert %>
      </p>
      <% end %>

      <%= yield %>
    </div>
    <div id="push"></div>
  </div>
  <%= render 'shared/footer' %>
</body>

</html>