<!DOCTYPE html>
<html>
  <head>
    <title>Club Emprendedores</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Club de Emprendedores</h1>
    <%= render 'shared/user_status' %>

    <%# Para notificaciones flash de Devise %>
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
