<h2>Registrarse</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, required: true%>
  </div>

  <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido, required: true%>
  </div>

  <div class="field">
    <%= f.label :id_tipo %><br />
    <%= f.select :id_tipo, TIPOS_ID.each_with_index.map{ |k,i| [k,i] }, required: true %>
  </div>

  <div class="field">
    <%= f.label :número %><br />
    <%= f.number_field :id_num, required: true%>
  </div>

  <div class="field">
    <%= f.label :teléfono %><br />
    <%= f.number_field :telefono %>
  </div>

  <div class="field">
    <%= f.label :institución_o_emprendimiento %><br />
    <%= f.text_field :institucion, required: true %>
  </div>

  <div class="field">
    <%= f.label :contraseña %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres como mínimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :confirmar_contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Registrarse" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
